server:
    port: 8080
    contextPath: /ipocket
    tomcat:
        access_log_enabled: true
        basedir: target/tomcat

spring:
    application:
        name: ipocket

    datasource:
        driverClassName: org.postgresql.Driver
        url: #{ 'jdbc:postgresql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() }
        username: #{ @dbUrl.getUserInfo().split(':')[0] }
        password: #{ @dbUrl.getUserInfo().split(':')[1] }

    jpa:
        database: HSQL
        openInView: true
        show_sql: true
        generate-ddl: false
        hibernate:
            ddl-auto: false
        properties:
            hibernate.cache.use_second_level_cache: true
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: true
            hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory

    messageSource:
        cacheSeconds: 1    

metrics:
    jmx.enabled: false
    elasticsearch:
        enabled: false
        host: localhost
        port: 9200

cache:
    timeToLiveSeconds: 3600
    ehcache:
        maxBytesLocalHeap: 16M

application:
    social:
        google:
            clientId: 306590615940-9g1g7915avoaga23h5lpltb33p5nbhir.apps.googleusercontent.com
            clientSecret: otHjsiw9GrRL4uRtwSnsG2_A
    security: 
        secureChannel: http
        key: ipocket

swagger:
    apiDocsLocation: http://localhost:8080
    title: Needs API
    description: Matching your Needs!
    termsOfServiceUrl: https://github.com/marcuslacerda/needs/blob/master/readme.md
    contact:
    license: Apache 2.0
    licenseUrl: http://www.apache.org/licenses/LICENSE-2.0.html     