<section ng-controller="BillController">
    <div layout="row" layout-fill>
        <div layout="column" flex="65">
            <md-card layout="row" style="min-height:90px;">
                <div layout="column">
                    <md-toolbar layout flex layout-align="center center">
                        <div class="md-toolbar-tools">
                            <div class="c-vertical-title">
                                <span class="">{{budget.year}}</span>
                            </div>
                        </div>
                    </md-toolbar>
                </div>
                <md-card-content layout="column" flex="100">
                    <div layout="row">
                        <div layout="column" flex="30" layout-align="end center" class="">
                            <span class="md-display-1" style="color: #7A7A7A;">{{budget.totalNotAllocated | currency}}</span>
                            <span style="color: #7A7A7A;">&nbsp; (Não Planejado)</span>
                        </div>
                        <md-divider></md-divider>
                        <div layout="column" flex="30" layout-align="end center" class="">
                            <span class="md-display-1" style="color: #7A7A7A;">{{budget.deviation | currency}}</span>
                            <span style="color: #7A7A7A;">&nbsp; Desvio Total</span>
                        </div>
                        <md-divider></md-divider>
                        <div layout="column" flex="20" layout-align="center center" class="">
                            <div layout="row" layout-align="center" class="c-padding-5">
                                <md-button class="md-raised md-primary " flex="100" ng-click="saveBaseline()">Detalhes</md-button>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <!--<md-card-header class="md-title" style="min-height: 20px;">-->
                <!--<span>Lançamentos de {{label}}</span>-->
                <!--</md-card-header>-->
                <!--<md-divider></md-divider>-->
                <md-card-content style="overflow:auto;">
                    <span layout-padding ng-if="selectedBills.length<=0" class="md-subhead" style="font-style: italic;">Sem lançamentos neste dia</span>
                    <md-list ng-if="selectedBills" layout="column" flex="100">
                        <md-list-item class="mdl-color--blue-grey-300" ng-if="selectedBills.length>0">
                            <div layout="row" flex="100" layout-align="center center"
                                 style="color:white;font-weight:600">
                                <div layout="column" flex="15" layout-align="center center">Data</div>
                                <div layout="column" flex>Categoria</div>
                                <div layout="column" flex="25">Conta</div>
                                <div layout="column" flex="10" layout-align="center end">Valor</div>
                                <div layout="column" flex="15" layout-align="center end">
                                    <div layout="row">
                                        <md-button aria-label="1" class="md-icon-button"></md-button>
                                        <md-button aria-label="2" class="md-icon-button"></md-button>
                                    </div>
                                </div>
                            </div>
                        </md-list-item>
                        <md-list-item ng-repeat="bill in selectedBills track by $index" class="bill-item" ng-class="{open: bill.edit}">
                            <div layout="row" flex="100" layout-align="center center" ng-if="!bill.edit">
                                <div layout="column" flex="15" layout-align="center center">{{bill.date | date:'dd/MM/yyyy'}}
                                </div>
                                <div layout="column" flex>{{bill.subCategory.fullName}}</div>
                                <div layout="column" flex="20">{{bill.accountTo.name}}</div>
                                <div layout="column" flex="10" layout-align="center end">{{bill.amount | currency}}
                                </div>
                                <div layout="column" flex="20">
                                    <div layout="row">
                                        <md-button aria-label="delete" class="md-icon-button c-hover"
                                                   ng-click="delete(bill)">
                                            <md-icon class="material-icons">delete</md-icon>
                                        </md-button>
                                        <md-button aria-label="edit" class="md-icon-button c-hover"
                                                   ng-click="edit(bill)">
                                            <md-icon class="material-icons">create</md-icon>
                                        </md-button>
                                        <md-button aria-label="done" class="md-icon-button c-hover"
                                                   ng-click="done(bill)">
                                            <md-icon class="material-icons">done</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" flex="100" layout-align="center center" ng-if="bill.edit" layout-padding
                                 style="border:1px solid lightsteelblue;border-top:0px;">
                                <div layout="column" flex="85">

                                    <!--Line-->
                                    <div layout="row">
                                        <div layout="column" flex>
                                            <md-datepicker name="inEdit.date" ng-model="inEdit.date" md-placeholder="Data" required>
                                            </md-datepicker>
                                        </div>
                                        <div layout="column" flex="50">
                                            <md-autocomplete
                                                    md-selected-item="inEdit.subCategory"
                                                    md-search-text="searchText"
                                                    md-items="subcategory in querySearch(searchText)"
                                                    md-min-length="0"
                                                    md-floating-label="Categoria"
                                                    md-autoselect="true"
                                                    md-no-cache="true"
                                                    md-item-text="subcategory.fullName">
                                                <md-item-template>
                                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{subcategory.fullName}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No matches found.
                                                </md-not-found>
                                            </md-autocomplete>
                                        </div>
                                        <div layout="column" flex="20">
                                            <md-input-container class="c-input-container-no-error">
                                                <label>Valor *</label>
                                                <input name="amount" ng-model="inEdit.amount" type="text" required
                                                       format="number">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <!--Line-->
                                    <div layout="row">
                                        <div layout="column" flex="45" ng-if="bill.transfer">
                                            <md-input-container>
                                                <label>Conta Origem</label>
                                                <md-select name="category" ng-model="inEdit.accountFrom.id">
                                                    <md-option ng-repeat="account in accounts" ng-value="account.id">
                                                        {{account.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                        <div flex ng-if="bill.transfer"></div>
                                        <div layout="column" flex="45">
                                            <md-input-container>
                                                <label>Conta Destino</label>
                                                <md-select name="category" ng-model="inEdit.accountTo.id">
                                                    <md-option ng-repeat="account in accounts" ng-value="account.id">
                                                        {{account.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div layout="column" flex="15">
                                    <div layout="row">
                                        <md-button aria-label="cancel" class="md-icon-button c-hover"
                                                   ng-click="cancel(bill)">
                                            <md-icon class="material-icons">highlight_off</md-icon>
                                        </md-button>
                                        <md-button aria-label="save" class="md-icon-button c-hover"
                                                   ng-click="save(bill)">
                                            <md-icon class="material-icons">done</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions>
                    <div layout="column" flex="100">
                        <div layout="row"  layout-align="end center">
                            <div layout="column" flex="25" layout-align="center center">Cartão de Crédito: {{accTotal.CCA | currency}}</div>
                            <div layout="column" flex="25" layout-align="center center"><strong>Saldo: {{income - expenses | currency}}</strong></div>
                        </div>
                    </div>
                </md-card-actions>
            </md-card>
        </div>
        <div layout="column" flex="35">
            <md-card layout="row" flex="35">
                <div layout="column">
                    <md-toolbar layout flex layout-align="center center">
                        <div class="md-toolbar-tools">
                            <div class="c-vertical-title">
                                <span class="">Desvios</span>
                            </div>
                        </div>
                    </md-toolbar>
                </div>
                <md-divider></md-divider>
                <md-card-content layout="column" flex="100">
                    <div layout="row">
                        <div layout="column" flex="100">
                            <div layout="row" class="md-padding">
                                <div layout="column" flex="70">
                                    <div layout="row" layout-align="start center">
                                        <span class="md-headline" ng-show="budget.data[0]">{{budget.data[0].deviation | currency}}</span>
                                        <span class="md-headline" ng-hide="budget.data[0]">{{0 | currency}}</span>
                                    </div>
                                    <div layout="row" layout-align="end center">
                                        <div layout="column" flex="50" layout-align="center start">
                                            <span style="color: #7A7A7A;" ng-show="budget.data[0]">{{budget.data[0].name}}</span>
                                            <span style="color: #7A7A7A;" ng-hide="budget.data[0]">Não definido</span>
                                        </div>
                                        <div layout="column" flex="50" layout-align="center end">
                                        </div>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="column" flex="30" layout-align="center center">
                                    <span class="md-display-1" style="color: #7A7A7A;" ng-show="budget.data[0]">{{ (budget.data[0].deviationPercent*100) | number:0 }}%</span>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding">
                                <div layout="column" flex="70">
                                    <div layout="row" layout-align="start center">
                                        <span class="md-headline" ng-show="budget.data[1]">{{budget.data[1].deviation | currency}}</span>
                                        <span class="md-headline" ng-hide="budget.data[1]">{{0 | currency}}</span>
                                    </div>
                                    <div layout="row" layout-align="end center">
                                        <div layout="column" flex="50" layout-align="center start">
                                            <span style="color: #7A7A7A;" ng-show="budget.data[1]">{{budget.data[1].name}}</span>
                                            <span style="color: #7A7A7A;" ng-hide="budget.data[1]">Não definido</span>
                                        </div>
                                        <div layout="column" flex="50" layout-align="center end">
                                        </div>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="column" flex="30" layout-align="center center">
                                    <span class="md-display-1" style="color: #7A7A7A;" ng-show="budget.data[1]">{{ (budget.data[1].deviationPercent*100) | number:0 }}%</span>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding">
                                <div layout="column" flex="70">
                                    <div layout="row" layout-align="start center">
                                        <span class="md-headline" ng-show="budget.data[2]">{{budget.data[2].deviation | currency}}</span>
                                        <span class="md-headline" ng-hide="budget.data[2]">{{0 | currency}}</span>
                                    </div>
                                    <div layout="row" layout-align="end center">
                                        <div layout="column" flex="50" layout-align="center start">
                                            <span style="color: #7A7A7A;" ng-show="budget.data[2]">{{budget.data[2].name}}</span>
                                            <span style="color: #7A7A7A;" ng-hide="budget.data[2]">Não definido</span>
                                        </div>
                                        <div layout="column" flex="50" layout-align="center end">
                                        </div>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="column" flex="30" layout-align="center center">
                                    <span class="md-display-1" style="color: #7A7A7A;" ng-show="budget.data[2]">{{ (budget.data[2].deviationPercent*100) | number:0 }}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <div layout="row">
                <div layout="column" flex style="padding: 0px 5px 0px 5px;">
                    <calendar-md
                            on-day-click="dayClick"
                            title-format="'MMMM y'"
                            on-prev-month="monthClick"
                            on-next-month="monthClick"
                            ng-model='selectedDate'>
                    </calendar-md>
                </div>
            </div>
        </div>
    </div>
</section>