<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
    <div layout="row" layout-align="center center">
        <div layout="column" flex="90" layout-align="center center">
            <md-card>
                <md-card-header class="md-title">
                    <span>Projeção do Impacto nas Contas Bancárias</span>
                </md-card-header>
                <md-card-content>
                    <highchart id="billProjection" config="billProjectionChartConfig"></highchart>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-bottom-sheet>