<div class="content">
	<div class="page-title">
		<div class="modaltitle">
			<h3>
				Novo Lançamento <span class="semi-bold">Programado</span>
			</h3>
		</div>
	</div>
	<div message-box handler="messageHandler" enable-remove="true" style="margin-bottom: 10px"></div>

	<div class="form-group">
		<div class="grid simple">
			<div class="grid-body no-border" style="overflow: hidden; display: block;">
				<br>
				<form name="form_new_bill" novalidate="novalidate">

					<!-- Linha 01-->
					<div class="row form-row">
						<div class="col-md-5">
							<label class="form-label">Descrição</label>
							<div class="controls">
								<input type="text" name="bill.description"	ng-model="bill.description" class="form-control" ng-required="true" ng-class="" mg-validation-alert>
							</div>
						</div>
						<div class="col-md-3">
							<label class="form-label">Data</label>
							<div class="controls">
								<input type="date" placeholder="yyyy-MM-dd"	name="bill.date" ng-model="bill.date"	class="form-control" ng-required="true" ng-class=""	mg-validation-alert>
							</div>
						</div>
						<div class="col-md-3">
							<label class="form-label">Repetições</label>
							<div class="controls">
								<select	ui-select2="{minimumResultsForSearch: -1}" name="bill.times"	ng-model="bill.times" class="select2 form-control" data-placeholder="Selecione" ng-required="true" ng-class="" mg-validation-alert>
									<option value=""></option>
									<option value="1">01 Vez</option>
									<option value="2">02 Vezes</option>
									<option value="3">03 Vezes</option>
									<option value="4">04 Vezes</option>
									<option value="5">05 Vezes</option>
									<option value="6">06 Vezes</option>
									<option value="7">07 Vezes</option>
									<option value="8">08 Vezes</option>
									<option value="9">09 Vezes</option>
									<option value="10">10 Vezes</option>
									<option value="11">11 Vezes</option>
									<option value="12">12 Vezes</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Linha 02 -->
					<div class="row form-row">
						<div class="col-md-5">
							<label class="form-label">Categoria</label>
							<div class="controls">
								<select ui-select2	ng-model="bill.category.id" name="bill.category.id" data-placeholder="Selecione" class="select2 form-control" ng-required="true" ng-class="" mg-validation-alert>
									<option value=""></option>
									<option	ng-repeat="category in categories"	value="{{category.id}}"	ng-selected="{{category.id == bill.category.id}}">{{category.name +" : "+ category.subCategoryName}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<label class="form-label">Tipo</label>
							<select	ui-select2="{minimumResultsForSearch: -1}" data-placeholder="Selecione"  name="bill.calcType"	ng-model="bill.calcType" class="select2 form-control" ng-required="true" ng-class="" mg-validation-alert>
								<option value=""></option>
								<option	ng-repeat="type in types" value="{{type.id}}"	ng-selected="{{type.id == 'A'}}">{{type.value}}</option>
							</select>
						</div>
				  		<div class="col-md-3" ng-show="bill.calcType!='A'">
							<label class="form-label">Valor</label>
							<div class="controls">
								<input ng-disabled="bill.calcType=='A'" type="number" name="bill.amount" ng-model="bill.amount" class="form-control" ng-required="bill.calcType == 'F'" ng-class=""	mg-validation-alert>
							</div>
						</div>
						<div class="col-md-3" ng-show="bill.calcType=='A'">
							<label class="form-label" >Ultimos</label> 
							<div class="controls">
								<select  ui-select2="{minimumResultsForSearch: -1}" data-placeholder="Selecione"  name="bill.averageCount" ng-model="bill.averageCount" style="margin-bottom:10px;" class="select2 form-control" data-placeholder="Selecione" ng-required="bill.calcType == 'A'" ng-class="" mg-validation-alert>
									<option value=""></option>
									<option value="1">01 Lançamento</option>
									<option value="2">02 Lançamentos</option>
									<option value="3">03 Lançamentos</option>
									<option value="4">04 Lançamentos</option>
									<option value="5">05 Lançamentos</option>
									<option value="6">06 Lançamentos</option>
									<option value="7">07 Lançamentos</option>
									<option value="8">08 Lançamentos</option>
									<option value="9">09 Lançamentos</option>
									<option value="10">10 Lançamentos</option>
									<option value="11">11 Lançamentos</option>
									<option value="12">12 Lançamentos</option>
								</select>
							</div>
						</div>
					</div>
					
					<!-- Linha 03 -->
					<div class="row form-row">
						<div class="col-md-5">
							<label class="form-label">Conta Bancária</label>
							<div class="controls">
								<select ui-select2="{minimumResultsForSearch: -1}"	ng-model="bill.accountId" name="bill.accountId" data-placeholder="Selecione" class="select2 form-control" ng-required="true" ng-class="" mg-validation-alert>
									<option value=""></option>
									<option	ng-repeat="account in accounts"	value="{{account.id}}"	ng-selected="{{account.id == bill.accountId}}">{{account.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label">Conta Bancária Destino</label>
							<div class="controls">
								<select ui-select2="{minimumResultsForSearch: -1}"	ng-model="bill.destinyAccountId" name="bill.destinyAccountId" data-placeholder="Selecione se Transferência" class="select2 form-control" ng-class="">
									<option value=""> - </option>
									<option	ng-repeat="account in accounts"	value="{{account.id}}"	ng-selected="{{account.id == bill.destinyAccountId}}">{{account.name}}</option>
								</select>
							</div>
						</div>
					</div>
					
					<!-- Linha 04 -->
					<div class="row form-row" ng-show="bill.billEntries.length>0">
						<div class="col-md-6 col-md-offset-3">
						<br>
								<table class="table table-bordered no-more-tables">
									<thead>
										<tr>
											<th>Data</th>
											<th>Valor</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="entry in bill.billEntries">
											<td><input type="date" ng-model="entry.date"/> </td>
											<td><input type="number" ng-model="entry.amount" ng-class="{positive: entry.amount>0, negative: entry.amount<0}"/></td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>
					<div class="form-actions">
						<div class="pull-right">
							<button type="button" class="btn btn-white btn-cons"
								ng-click="cancel()">Cancelar</button>
							<button type="submit" class="btn btn-success btn-cons"
								ng-click="ok(form_new_bill)">
								<i class="icon-ok"></i> Incluir
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>