<section ng-controller="CategorizationController" layout layout-fill>
    <div layout="column" flex="100">
        <div layout="row" layout-fill>
            <div layout="column" flex="50" ng-repeat="group in groups">
                <md-card>
                    <md-card-header>
                        <div layout="row" layout-align="center center" flex="100">
                            <span class="md-title">{{group.name}}</span>
                            <span flex></span>
                            <md-menu>
                                <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                                           ng-click="openMenu($mdOpenMenu, $event)">
                                    <md-icon md-menu-origin class="material-icons">more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="addCategory(group)">
                                            Adicionar Categoria
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="addSubCategory(group)">
                                            Adicionar SubCategoria
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-card-header>
                    <md-card-content style="overflow:auto;">
                        <div layout="row" ng-repeat="category in group.categories" class="">
                            <div layout="column" flex="100">
                                <div layout="row" layout-align="center end" class="c-card-accordion-header"
                                     ng-class="{opened: category.open, closed: !category.open}">
                                    <span flex ng-if="!category.edit" class="c-hover md-subhead"
                                          ng-click="editCategory($event, group, category)">{{category.name}}</span>
                                    <md-input-container ng-if="category.edit"
                                                        class="c-input-container-no-error c-no-margin" flex>
                                        <input id="inputc_{{category.id}}" name="name" ng-model="category.name" aria-label="Categoria" ng-blur="editCategory($event, group, category)">
                                    </md-input-container>
                                    <md-button class="md-icon-button" aria-label="Expand/Collapse">
                                        <md-icon ng-if="category.open" class="material-icons" ng-click="category.open=!category.open">keyboard_arrow_up
                                        </md-icon>
                                        <md-icon ng-if="!category.open" class="material-icons" ng-click="category.open=!category.open">keyboard_arrow_down
                                        </md-icon>
                                    </md-button>
                                </div>
                                <div layout="row" class="c-card-accordion"
                                     ng-class="{opened: category.open, closed: !category.open}">
                                    <div layout="column" flex="100">
                                        <div layout="row" ng-repeat="subcategory in category.subcategories" layout-align="center center">
                                            <md-button ng-if="subcategory.edit" class="md-icon-button c-hover md-primary" ng-click="editSubCategory($event, category, subcategory)">
                                                <md-icon  class="material-icons">done</md-icon>
                                            </md-button>
                                            <span ng-if="!subcategory.edit" ng-click="editSubCategory($event, category, subcategory)" flex>{{subcategory.name}}</span>
                                            <md-input-container ng-if="subcategory.edit" class="c-input-container-no-error c-no-margin" flex>
                                                <input id="inputsc_{{subcategory.id}}" name="name" aria-label="Sub Categoria" ng-model="subcategory.name">
                                            </md-input-container>
                                            <span ng-if="!subcategory.edit" ng-click="editSubCategory($event, category, subcategory)" flex="10">
                                                {{subcategory.type}}
                                                <md-tooltip md-direction="left">
                                                    {{subcategory.type | mapType}}
                                                </md-tooltip>
                                            </span>
                                            <md-input-container ng-if="subcategory.edit" >
                                                <md-select name="subcategory_type" ng-model="subcategory.type" aria-label="Tipo Subcategoria">
                                                    <md-option ng-repeat="type in expensiveTypes" ng-value="type.id">
                                                        {{type.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-switch ng-model="subcategory.activated" class="md-primary" aria-label="Category Activated" ng-change="changeStatus(category, subcategory)"></md-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</section>