<link rel="stylesheet" href="resources/styles/login.css">

<div id="AuthController" ng-controller="AuthController" ng-cloak class="ng-cloak login mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<!--<header class="mdl-layout__header mdl-color&#45;&#45;indigo-900" style="height:45px;min-height:45px;">-->
		<!--<div class="mdl-layout__header-row" style="height: 45px;padding-left: 25px;">-->
			<!--<img src="./resources/images/1cent-logo-1.png" aria-label="Smiley face" height="32" width="32">-->
			<!--<span class="mdl-layout-title"><h4>1Coin</h4></span>-->
			<!--<div class="mdl-layout-spacer"></div>-->
			<!--<nav class="mdl-navigation mdl-layout&#45;&#45;large-screen-only">-->
				<!--<a class="mdl-navigation__link" href="">Registrar</a>-->
			<!--</nav>-->
		<!--</div>-->
	<!--</header>-->

	<div layout="row" class="content">
		<div flex="15" flex-xs="10" flex-sm="25" >
		</div>
		<div flex="50" class="front-welcome" hide-xs>
			<h2><strong>Bem Vindo ao 1Coin</strong></h2>
            <h4>Toda riqueza começa na economia da primeira moeda.</h4>
		</div>
		<div flex="25" flex-xs="80" flex-sm="50">
			<md-card class="mdl-color--white md-card-border-radius-6">
                <form name="loginForm" ng-submit="appAuthenticate()" novalidate style="margin-top:22px">
					<md-card-content>
						<md-input-container class="md-block">
							<label>E-mail</label>
							<input required type="email" name="email" ng-model="user.email"
								   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
							<div ng-messages="loginForm.email.$error" role="alert">
								<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
									Entre com um e-mail válido.
								</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Senha</label>
							<input required type="password" name="password" ng-model="user.password" />
						</md-input-container>
                        <ng-messages for="user.$error" role="alert" class="error">
                            <ng-message when="login">Usuário/Senha Inválidos.</ng-message>
                        </ng-messages>
						<md-card-actions layout="column" layout-align="end none">

							<md-button class="md-raised md-primary" type="submit">Login</md-button>

							<div id="google-signin" class="google-signin"></div>

							<md-checkbox ng-model="user.rememberMe" name="remember-me" class="indigo">
								Lembrar meu usuário
							</md-checkbox>
						</md-card-actions>
					</md-card-content>
				</form>
            </md-card>
		</div>
		<div flex></div>
	</div>
</div>
