
<section ng-controller="CashflowController">
	<div class="content" ng-if="chartConfig.series">
		<div class="row">
			<div class="col-md-12">
				<div class="grid simple ">
					<div class="grid-title">
						<h3>
							Análise de <span class="semi-bold">Fluxo de Caixa</span>
						</h3>
					</div>
					<div class="grid-body">
						<form name="form_cashflow">
							<div class="row form-row">
								<div class="col-md-3">
<!-- 									<label class="form-label">Período</label> -->
									<div class="controls">
										<select	ui-select2="select2Options" placeholder="Período" ng-change="generateChart()" ng-model="Selected.period" class="select2 form-control input-sm" data-placeholder="Selecione" ng-required="true" ng-class="" mg-validation-alert>
											<option	ng-repeat="period in periodOptions"	value="{{period.id}}" ng-selected="{{period.id == Selected.period}}">{{period.name}}</option>
										</select>
									</div>
								</div>
							</div>
						</form>
						<br>
						<div class="row">
							<div class="col-md-12" id="line-chart">
								<div class="panel-body">
									<highchart id="chart1" config="chartConfig"></highchart>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>