.custom-pie-legend .pie-legend li{
	display: -webkit-box;
	/* white-space: nowrap; */
	position: relative;
	margin-bottom: 4px;
	/* border-radius: 5px; */
	padding: 2px 8px 2px 24px;
	font-size: smaller;
	cursor: default;
}

.report-n0 {
	width: 8%;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #89AEC1;
}

.report-n1 {
	width: 10%;
	text-align: center;
	color: black;
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
/* 	font-weight: 300; */
}

.report-n2 {
	width: 12%;
	text-align: left;
	color: black;
	font-family: 'Open Sans', sans-serif;
	padding: 4px !important;
}

.report-total{
	text-align: right;
	font-weight: 600;
}

.report-title {
/* 	background-image: none; */
/* 	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #89AEC1), color-stop(1, #E9F0F4)); */
/* 	background: -ms-linear-gradient(bottom, #89AEC1, #E9F0F4); */
/* 	background: -moz-linear-gradient(center bottom, #89AEC1 0%, #E9F0F4 100%); */
/* 	background: -o-linear-gradient(#E9F0F4, #89AEC1); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9F0F4', endColorstr='#89AEC1', GradientType=0); */
	
	color: white;
}
