.animate-switch-container {
  position:relative;
  background:white;
  overflow:hidden;
  min-height: 140px;
}

.animate-switch-forward, .animate-switch-backward {
  padding:10px;
}

.animate-switch-forward.ng-animate, .animate-switch-backward.ng-animate {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch-forward.ng-leave.ng-leave-active, .animate-switch-backward.ng-leave {
/*   position: absolute; */
  left:-100%;
}

.animate-switch-forward.ng-enter.ng-enter-active, .animate-switch-backward.ng-leave.ng-leave-active {
  left:0;
}

.animate-switch-forward.ng-leave, .animate-switch-backward.ng-enter{
	left:0;
}

.animate-switch-forward.ng-enter, .animate-switch-backward.ng-enter.ng-enter-active{
	left:100%;
}