.login {
    height: 100%;
    background-image: url('../images/1cent-login-bg.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.login .content {
    margin-top: 35px;
}

.login .error {
    color: red;
}

.google-signin {
    margin-top: 5px;
}

.login .google-signin .abcRioButton {
    max-width: 100%;
    border-radius: 3px;
}

.login md-checkbox {
    margin-top: 15px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

md-checkbox.md-checked.indigo .md-icon {
    background-color: #3949AB;
}

/*.login .google-signin .abcRioButtonContents{
    margin-left: -23px;
}*/


.front-welcome > h2 {
    color: white;
    text-shadow: 1px 2px rgba(0,0,0,0.7);
    font-family: 'Raleway', sans-serif;
}
.front-welcome > h4 {
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.7);
    font-family: 'Raleway', sans-serif;

}