/********** >>> INDEX <<< ***********/
body{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}


/* Header */
md-toolbar.header {
    background-color: #22262e !important;
}
md-toolbar.header button.md-icon-button:hover{
    background-color: rgba(158,158,158,0.2) !important;
}

/* Navegação Lateral */
md-sidenav md-toolbar {
    background-color: #22262e !important;
}
md-sidenav {
  fill: #737373;
}
md-sidenav md-list md-list-item:hover {
    background-color: #ECEFF1;
    cursor:pointer;
}
.user-avatar {
  border-radius: 99%;
  width: 85px;
  height: 85px;
  margin: 10px;
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}


/********** ^^^ INDEX ^^^ ***********/

/********** >>> GERAL <<< ***********/
.border-radius-5 {
    border-radius: 5px;
}
.border-top-radius-5{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/********** >>> CARDS <<< ***********/

md-card.mdl-color--green-600 {
    color: #fff;
}


/********** >>> ICONS <<< ***********/
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48{
    font-size:48px;
    width:48px;
    height:48px;
}


/********** >>> TO-DO LIST <<< ***********/
md-card.to-do-list md-card-header{
    color: white;
}
md-card.to-do-list md-card-content{
    min-height:381px;
    max-height:381px;
}
md-card.to-do-list md-card-content md-list-item md-checkbox.md-icon{
    border-color: white;

}
md-card.to-do-list md-card-content md-list-item .md-list-item-text.done{
    text-decoration: line-through;
    color: rgba(176,190,197,0.87);
}
md-card.to-do-list md-card-actions md-input-container{
    margin-bottom: 0px;
}
md-card.to-do-list md-card-actions md-input-container.md-icon-right{
    padding-left:5px;
}
md-card.to-do-list md-card-actions md-input-container.md-has-icon>input{
    padding-left: 8px;
    padding-right: 8px;
}
md-card.to-do-list md-card-actions md-input-container.md-has-icon>label{
    left: 8px;
}
md-card.to-do-list md-card-actions md-input-container.md-has-icon>md-icon{
    cursor:pointer;
}


/********** >>> DIVIDER <<< ***********/
md-divider.blue{
    background-color:rgb(63,81,181);
}


/********** >>> INPUT <<< ***********/
md-input-container.md-input-invalid md-select md-select-value{
    border-color: rgb(221,44,0);
}
md-option:hover{
    background-color: #eceff1 !important;
}