.table-bordered{
	border-color:#E8EDF1 !important;
}
.table-bordered th{
	background-color:#ecf0f2;
   border:0 !important;
}
.table-bordered td{
	 border: 1px solid #E8EDF1 !important;

}
.table-thin td{
	 padding: 4px !important;

}
.table-bordered td:first-child{
	border-radius: 0px;
}
.table-bordered  td:last-child{
	border-radius: 0px;
}

.table-bordered td input {
	margin-bottom: 0px;
}
.table-bordered td input[type="date"] {
	text-align: center;
}
.table-bordered td input[type="number"] {
	text-align: right;
}

/* sobreescreve bootstrap para centralizar conteúdo no meio. */
 .table>tbody>tr>td {    
	vertical-align: middle;
}

.table > thead > tr > th{
	border-bottom:0px;
}
.table th{
	/*border-bottom: 1px solid #c9d1d8;*/
	border-top: 1px solid #e8edf1;
	padding: 10px 12px;
	font-size:12px;
	text-transform:uppercase;
}

.align-currency {
	text-align: right;
}


.align-date {
	text-align: center;
}

/************** DATATABLES CUSTOMIZATION **************/

div.table-bottom{
	display: inline-block;
	padding: 0px;
	float: right;
}

table.dataTable tbody th, table.dataTable tbody td{
	padding: 5px 12px !important;
}

.pagination{
	margin: 7px 0px !important;
}

.dataTables_length {
	margin-top: 7px;
	margin-left: 15px;
}

div.DTFC_LeftBodyLiner table tbody tr > td  {
	border-right: 1px solid #eff2f3;
}

.dataTables_wrapper .pagination ul > li {
	display:inline-block;
	padding-left: 0px;
}

.dataTables_wrapper  .pagination ul > li:last-child > a, .dataTables_wrapper  .pagination ul > li:last-child > span{
	margin-left:0px;
}
.dataTables_wrapper .pagination ul > li > a, .pagination ul > li > span {
	border:none;
	box-shadow:none;
	border-radius:3px;
	color: #6F7B8A;
}

.dataTables_wrapper .pagination ul {
	box-shadow:none;
	font-size: 12px;
	padding:0;
}

.dataTables_wrapper .pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus{
 color:#C2C6CB !important;
 opacity:0.65 !important;
 background-color: #fff !important;
	
}
.dataTables_wrapper  .pagination ul > li > a{
	padding:5px 10px;
}
.dataTables_wrapper  .pagination ul > .active > a, .pagination ul > .active > span {
	background-color:#F3F6F9;
	font-weight:600;
}
.dataTables_wrapper .pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span{
	background-color: #e8edf3;
 }
 .dataTables_wrapper .pagination ul > li.next > a:hover{
  background-color: #fff;
	color:#000;
}
 .dataTables_wrapper .pagination ul > li.prev > a:hover{
  background-color: #fff;
  color:#000;
}

.dataTables_wrapper .pagination ul > li.prev.disabled > a:hover{
  color:#C2C6CB ;
 opacity:0.65 ;
 background-color: #fff ;
}
 .dataTables_wrapper .pagination ul > li.next.disabled > a:hover{
  color:#C2C6CB ;
  opacity:0.65 ;
  background-color: #fff ;
}

/** Datatables*/

.table-top {
	float: right;
}

div.dataTables_wrapper {
	margin-top: 5px;
}

/** Table na Mão **/

 .th-inner {
position: absolute;
top: 10px;
line-height: 30px;
*text-align: left;
*border-left: 1px solid black;
*padding-left: 5px;
*margin-left: -5px;
}

.fixed-table-container {
*width: 50%;
height: 200px;
*border: 1px solid black;
margin: 10px auto;
*background-color: white;
*position: relative;
padding-top: 30px;
}
.fixed-table-container-inner {
overflow-x: hidden;
overflow-y: auto;
height: 100%;
}
.header-background {
background-color: #ECF0F2;
height: 38px;
position: absolute;
top: 5px;
right: 0;
left: 0;
}